<a href="https://colab.research.google.com/github/andypeng93/Healthcare/blob/main/Healthcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Flatiron School/Healthcare"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [ ]:
#changing the working directory
%cd /content/gdrive/My Drive/Flatiron School/Healthcare
#Check the present working directory using pwd command

/content/gdrive/My Drive/Flatiron School/Healthcare

In [ ]:
!kaggle datasets download -d vetrirah/av-healthcare2

Downloading av-healthcare2.zip to /content/gdrive/My Drive/Flatiron School/Healthcare
 76% 5.00M/6.54M [00:00<00:00, 31.2MB/s]
100% 6.54M/6.54M [00:00<00:00, 31.1MB/s]

In [ ]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  av-healthcare2.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv
  inflating: train_data_dict.csv

In [ ]:
!ls

Healthcare.ipynb  sample_submission.csv  train.csv
kaggle.json	  test.csv		 train_data_dict.csv

# Imports and Loading Datasets

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import keras
import tensorflow as tf
from keras import models, layers, optimizers, regularizers
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from keras.preprocessing import image
import seaborn as sns
from sklearn.metrics import roc_curve, auc, precision_score, recall_score, accuracy_score, f1_score, confusion_matrix, classification_report, roc_auc_score
np.random.seed(123)

In [ ]:
datainfo = pd.read_csv('train_data_dict.csv')
datainfo

                               Column                                        Description
0                             case_id                     Case_ID registered in Hospital
1                       Hospital_code                       Unique code for the Hospital
2                  Hospital_type_code               Unique code for the type of Hospital
3                  City_Code_Hospital                          City Code of the Hospital
4                Hospital_region_code                        Region Code of the Hospital
5   Available Extra Rooms in Hospital    Number of Extra rooms available in the Hospital
6                          Department                    Department overlooking the case
7                           Ward_Type                             Code for the Ward type
8                  Ward_Facility_Code                         Code for the Ward Facility
9                           Bed Grade                       Condition of Bed in the Ward
10                          patientid                                  Unique Patient Id
11                  City_Code_Patient                          City Code for the patient
12                  Type of Admission          Admission Type registered by the Hospital
13                Severity of Illness  Severity of the illness recorded at the time o...
14              Visitors with Patient                Number of Visitors with the patient
15                                Age                                 Age of the patient
16                  Admission_Deposit                      Deposit at the Admission Time
17                               Stay                           Stay Days by the patient

In [ ]:
dftrain = pd.read_csv('train.csv')
print(dftrain.head())
print(len(dftrain))

   case_id  Hospital_code Hospital_type_code  ...    Age Admission_Deposit   Stay
0        1              8                  c  ...  51-60            4911.0   0-10
1        2              2                  c  ...  51-60            5954.0  41-50
2        3             10                  e  ...  51-60            4745.0  31-40
3        4             26                  b  ...  51-60            7272.0  41-50
4        5             26                  b  ...  51-60            5558.0  41-50

[5 rows x 18 columns]
318438

In [ ]:
dftest = pd.read_csv('test.csv')
print(dftest.head())
print(len(dftest))

   case_id  Hospital_code  ...    Age  Admission_Deposit
0   318439             21  ...  71-80             3095.0
1   318440             29  ...  71-80             4018.0
2   318441             26  ...  71-80             4492.0
3   318442              6  ...  71-80             4173.0
4   318443             28  ...  71-80             4161.0

[5 rows x 17 columns]
137057

In [ ]:
df = pd.concat([dftrain, dftest])

In [ ]:
df.head()

   case_id  Hospital_code Hospital_type_code  ...    Age Admission_Deposit   Stay
0        1              8                  c  ...  51-60            4911.0   0-10
1        2              2                  c  ...  51-60            5954.0  41-50
2        3             10                  e  ...  51-60            4745.0  31-40
3        4             26                  b  ...  51-60            7272.0  41-50
4        5             26                  b  ...  51-60            5558.0  41-50

[5 rows x 18 columns]

In [ ]:
df.columns
for column in df.columns:
  print(column)
  print(df[column].value_counts())

case_id
2047      1
429179    1
402542    1
404591    1
447600    1
         ..
234279    1
256808    1
254761    1
260906    1
2049      1
Name: case_id, Length: 455495, dtype: int64
Hospital_code
26    47523
23    38220
19    30036
6     29221
11    24827
14    24715
28    24572
27    20243
9     16360
12    16170
29    16158
32    15252
25    14046
10    13538
15    13326
21    11784
24    11467
3     10277
17     7844
1      7460
5      7448
13     7432
2      7277
30     7215
22     6006
31     5740
8      5284
16     5244
18     5228
20     1962
7      1871
4      1749
Name: Hospital_code, dtype: int64
Hospital_type_code
a    204730
b     98884
c     66147
e     35428
d     29048
f     15252
g      6006
Name: Hospital_type_code, dtype: int64
City_Code_Hospital
1     79058
2     74312
6     67441
7     50279
3     45544
5     44395
9     37428
11    24572
4     19778
10     7460
13     5228
Name: City_Code_Hospital, dtype: int64
Hospital_region_code
X    190849
Y    174707
Z     89939
Name: Hospital_region_code, dtype: int64
Available Extra Rooms in Hospital
2     140895
4     131191
3     130755
5      27602
6      11003
1       7984
7       4107
8       1468
9        327
10        89
11        24
0         22
12        17
21         4
13         3
20         2
14         1
24         1
Name: Available Extra Rooms in Hospital, dtype: int64
Department
gynecology            356688
anesthesia             42358
radiotherapy           41033
TB & Chest disease     13751
surgery                 1665
Name: Department, dtype: int64
Ward_Type
R    182939
Q    152046
S    111166
P      7199
T      2133
U        12
Name: Ward_Type, dtype: int64
Ward_Facility_Code
F    161470
E     79058
D     74312
C     50279
B     50116
A     40260
Name: Ward_Facility_Code, dtype: int64
Bed Grade
2.0    176451
3.0    158942
4.0     82387
1.0     37567
Name: Bed Grade, dtype: int64
patientid
66714     50
91292     43
38525     39
114456    37
101359    36
          ..
52293      1
40950      1
34805      1
120340     1
10047      1
Name: patientid, Length: 131624, dtype: int64
City_Code_Patient
8.0     176825
2.0      55681
1.0      37772
7.0      33958
5.0      28978
4.0      22044
9.0      16692
15.0     12804
10.0     11809
6.0       8723
12.0      8124
3.0       5401
23.0      5320
14.0      4218
16.0      3187
21.0      2298
13.0      2228
18.0      2010
20.0      1936
26.0      1522
19.0      1458
25.0      1171
27.0      1032
11.0       933
28.0       714
22.0       534
24.0       514
30.0       194
29.0       192
33.0       121
34.0        96
32.0        95
37.0        78
31.0        67
35.0        30
36.0        29
38.0        18
Name: City_Code_Patient, dtype: int64
Type of Admission
Trauma       217672
Emergency    168363
Urgent        69460
Name: Type of Admission, dtype: int64
Severity of Illness
Moderate    251565
Minor       122735
Extreme      81195
Name: Severity of Illness, dtype: int64
Visitors with Patient
2     197734
4     113497
3      84689
6      27011
5      13314
8       6920
7       3556
9       1918
1       1776
10      1632
12      1376
11       443
16       408
14       310
15       271
13       147
20       100
24        99
18        94
0         34
30        26
22        26
17        25
21        24
19        21
25        12
32        12
23        10
29        10
Name: Visitors with Patient, dtype: int64
Age
41-50     91495
31-40     90420
51-60     69506
21-30     58560
71-80     50737
61-70     48619
11-20     23871
81-90     11240
0-10       9140
91-100     1907
Name: Age, dtype: int64
Admission_Deposit
4469.0    445
4277.0    427
4624.0    408
4789.0    378
4400.0    340
         ...
9728.0      1
8745.0      1
8752.0      1
9953.0      1
1842.0      1
Name: Admission_Deposit, Length: 7634, dtype: int64
Stay
21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

In [ ]:
la = df[df.Hospital_type_code == 'g']

In [ ]:
la.Hospital_code.value_counts()

22    6006
Name: Hospital_code, dtype: int64

In [ ]:
la.head()

     case_id  Hospital_code Hospital_type_code  ...    Age Admission_Deposit   Stay
10        11             22                  g  ...  51-60            5797.0  21-30
199      200             22                  g  ...  31-40            4557.0  11-20
343      344             22                  g  ...  61-70            5531.0  41-50
364      365             22                  g  ...  31-40            3895.0   0-10
399      400             22                  g  ...  71-80            4834.0  71-80

[5 rows x 18 columns]

In [ ]:
df.isnull().any()

case_id                              False
Hospital_code                        False
Hospital_type_code                   False
City_Code_Hospital                   False
Hospital_region_code                 False
Available Extra Rooms in Hospital    False
Department                           False
Ward_Type                            False
Ward_Facility_Code                   False
Bed Grade                             True
patientid                            False
City_Code_Patient                     True
Type of Admission                    False
Severity of Illness                  False
Visitors with Patient                False
Age                                  False
Admission_Deposit                    False
Stay                                  True
dtype: bool

In [ ]:
len(df[df['Bed Grade'].isnull()])

148

In [ ]:
len(df[df['City_Code_Patient'].isnull()])

6689

In [ ]:
len(df[df['Stay'].isnull()])

137057